.white_content
{
	margin-left: -100px;
	margin-right: -100px;
	position:absolute;
	width: 500px;
	height: 500px;
	top:250px;
	left:800px;
	background-color:#FFF;
	display:none;
	z-index:1000;
}
.black_content
{
	display:none;
	position:absolute;
	top:0%;
	left:0%;
	width:100%;
	height:100%;
	background-color:black;
	opacity:.70;
	z-index:1;
	
}

.img{
	width: 350px;
	height 350px;
}



ul
{
	list-style-type:none;
	background-color:#c5c5c5;
	height:50px;
	overflow:hidden;
}
li
{
	float:left;
}
	li a, .drp
{
    display: inline-block;
	color: black;
	text-align: center;
	padding: 14px 16px;
	text-decoration:none;
	}
li .menu-item
{
	display:inline-block;
}
.menu-content
{
	display:none;
	position:absolute;
	background-color:#f8f8f8;
	z-index:1;
}
.menu-content a {
color: black;
padding: 12px 16px;
text-decoration: none;
display: block;
}
.menu-item:hover .menu-content
{
	display:block;
}

.photo{
	border: 2px solid black;
}

.photo2{
	width: 100%;
	height: 300px;
}
